.jumbotron {
  padding-top: 90px;
  min-height: 00px;
  margin-bottom: 0;
  background-image: url('images/header.png');
  background-size: cover;
  background-attachment: fixed;
}

.navbar-default {
  background-image: url('images/header.png');
  opacity: .5;
}

.navbar-inverse {
  background-color: red;
}

.nav {
    background-color: rgba(255, 255, 255, 0.5);
}
